<div class="ui segment" id="<%= self.token() %>">
  <div class="ui form">
    <div class="inline field">
      <label for="">物料类别</label>
      <select class="ui selection dropdown" name="materialSubject">
        <option value="">请选择物料类别</option>
        <% materialSubjects.forEach(function (s) { %>
          <option value="<%= s.id %>"
            <%= materialNote.materialSubjectId == s.id && 'selected'%>
            ><%= s.name %></option>
        <% }) %>
      </select>
    </div>
    <div class="inline field">
      <label for="">数量</label>
      <input type="number" name="quantity" value=<%= materialNote.quantity || '' %>>
      <label for=""><%= selectedMaterialSubject.unit? `(${selectedMaterialSubject.unit})`: '' %></label>
    </div>
    <div class="inline field">
      <label for="">单价(元)</label>
      <input type="number" name="unitPrice" value=<%= materialNote.unitPrice || '' %>>
    </div>
    <div class="inline field">
      <label for="">总金额</label>
      <span><%= (materialNote.quantity || 0) * (materialNote.unitPrice || 0) %>(元)</span>
    </div>
    <div class="inline field">
      <label for="">税率(百分比)</label>
      <input type="number" name="taxRate" value=<%= materialNote.taxRate || '' %>>
    </div>
    <div class="inline field">
      <label for="">税额</label>
      <span><%= (materialNote.quantity || 0) * (materialNote.unitPrice || 0) * (materialNote.taxRate || 0) / 100 %>(元)</span>
    </div>
    <input type="submit" class="ui button tiny green" value="添加">
    <hr>
    <table class="ui very basic table striped compact">
      <thead>
        <tr>
          <th>物料类别</th>
          <th>数量</th>
          <th>单价</th>
          <th>总金额</th>
          <th>税率</th>
          <th>税额</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <% invoice.materialNotes.forEach(function (mn) { %>
        <tr>
          <td><%= mn.materialSubjectId %></td>
          <td><%= mn.quantity %></td>
          <td><%= mn.unitPrice %></td>
          <td><%= mn.unitPrice * mn.quantity %></td>
          <td><%= mn.taxRate %></td>
          <td><%= mn.taxRate * mn.quantity * mn.unitPrice / 100.0 %></td>
        </tr>
        <% }) %>
      </tbody>

    </table>
  </div>
</div>

